@font-face {
    font-family: 'Ubuntu';
    src: url(./fonts/ubuntu-regular-webfont.woff2),
        url(./fonts/ubuntu-regular-webfont.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(./fonts/ubuntu-medium-webfont.woff2),
        url(./fonts/ubuntu-medium-webfont.woff);
    font-weight: 500;
}

:root {
    --colorAlpha: #E8EEF1;
    --colorBeta: #1E3D58;
    --colorSnow: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--colorAlpha);
    font-family: 'Ubuntu';
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto 1fr 1fr;
    padding: 50px 0px;
    gap: 50px;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
}

.header .logo {
    align-self: center;
    font-size: 30px;
}


.header .menu {
    display: grid;
    grid-template-columns: 400px 200px 200px;
    align-items: center;
    gap: 20px;
}

.header ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.sidebar {
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 350px 1fr auto;
    gap: 80px;
}

.searchBox {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--colorSnow);
    border-radius: 2rem;
    padding: 3px 20px;
    gap: 20px;
}

.searchBox>input {
    padding: 20px 10px;
    font-size: 1rem;
    font-family: inherit;
    border: 0px solid transparent;
    flex: 1;
}

.searchBox>input:focus {
    font-family: inherit;
    border-color: transparent;
    outline: none;
}

.user--box {
    display: grid;
    justify-items: center;
    gap: 20px;
    padding: 3rem;
    border-radius: 0px 30px 30px 0px;
    background-color: var(--colorBeta);
    color: var(--colorSnow);
}

img, svg {
    pointer-events: none;
}

.user--box img {
    height: 150px;
    border-radius: 50% ;
}

.user--nav {
    display: grid;
    gap: 30px;
    padding: 0px 20px 0px 50px;
    font-weight: 500;
}
.nav {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
}
.credit {
    padding: 0px 20px 0px 50px;
}

.section--title {
    font-weight: 500;
    font-size: 1.3rem;
}

.search--icon svg,
.b--icon img {
    height: 30px;
    width: 30px;
}

.search--icon svg {
    fill: grey;
}